/.idea
/tsconfig.json
/tsconfig.test.json
/.eslintignore
/.github
/renovate.json
/.snyk
/template/idea.template/dictionaries
/template/idea.template/workspace.xml
/template/idea.template/tasks.xml
*.ts
!*.d.ts

# yarn and npm
package-lock.json
yarn.lock
yarn-error.log
npm-debug.log*