/.idea
/yarn.lock
/tsconfig.json
/.eslintignore
/.github
/renovate.json
/.snyk
/template/idea.template/dictionaries
/template/idea.template/workspace.xml
/template/idea.template/tasks.xml
*.ts
!*.d.ts